
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<p>Mật khẩu của bạn đã được đặt lại thành công. Bạn có thể <a asp-controller="Default" asp-action="Login">đăng nhập</a> với mật khẩu mới.</p>


