@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body style="display:flex; align-items:center; justify-content:center;">
    <div class="login-page">
        <div class="form">
            @if (!string.IsNullOrEmpty(TempData["AlertMessage"] as string))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["AlertMessage"]
                </div>
            }

            <form class="reset-password-form" method="post" action="/Default/ResetPassword">
                <h2>Reset Password</h2>
                <input type="text" name="token" placeholder="Token" required />
                <input type="password" name="pass" placeholder="New Password" required />
                <input type="password" name="newpass" placeholder="Confirm New Password" required />
                <button type="submit" class="btn">Reset Password</button>
                <p class="message">Remembered your password? <a href="/Default/Login">Sign In</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/main.js"></script>
</body>
</html>
